.dino_title {
    font-size: 16px;
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
}
.dino_game {
    margin-top: 36px;
}
.container {
    max-width: 1090px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

#canvass {
    border-bottom: 2px black solid;
    display: block;
    margin: auto;
}
.container #retryButton {
    position: relative;
}
#retryButton {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d7d7d7;
    color: black;
    border-radius: 20px;
    font-family: "Montserrat Alternates", sans-serif;
    cursor: pointer;
    
}
.dino_line {
        background-color: #000000;
        height: 1px;
        width: 536px;
        margin: auto;
}