.container {
  max-width: 1090px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

// button {
//     border-style: none;
//     display: block;
// }

// li {
//     list-style: none;
// }

#prs_section {
  font-family: 'Montserrat Alternates', solid;
  font-weight: 400;
}

.vector_prs {
  display: flex;
  justify-content: center;
}

.prs_title {
  font-family: 'Montserrat Alternates', solid;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-top: 36px;
}

.prs_select {
  align-items: center;
  width: 256px;
  height: 60px;
  border-radius: 20;
  margin: auto;
  margin-top: 36px;
}

.prs_button_list {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0px;
  list-style: none;
}

.prs_button_item:first_child {
  margin-left: 160px;
}

.prs_button {
  background-color: black;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  color: aliceblue;
}

.score_list {
  width: 93px;
  height: 60px;
  list-style: none;
}

.score_item:nth-child(2) {
  width: 200px;
}

.prs_winOrLose {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.prs_computer_button {
  margin: auto;
  margin-top: 36px;
  margin-bottom: 36px;
  background: none;
  color: green;
  font-family: 'Montserrat Alternates', solid;
  font-weight: 400;
  font-size: 16px;
}
