@import './common';
@import './first-page';
@import './header';
@import './check-the-born-year';
@import './guess-the-number.scss';
@import './paper-rock-sizors';
@import './calculator';
@import './calculator-of-time';
@import './dinosaur';
@import './soccer';
@import './three-numbers';
@import './our-team';
@import './pick-the-scientist';
@import './footer';