.container {
  max-width: 1090px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.header_components {
  display: flex;
  margin-top: 21px;
}

.header_component:nth-child(2) {
  margin-left: 81px;
}
.header_component:nth-child(3) {
  margin-left: 361px;
}

.header_logo {
  width: 93px;
  height: 38.15px;
}

.header_list {
  gap: 50px;
  list-style: none;
  display: flex;
  margin-top: 0;
}

.header_item {
  width: 97px;
}

.header_text {
  font-size: 12px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.header_switch {
  display: flex;
  gap: 51px;
}

.header_component_switch {
  width: 100px;
}

.header_component_User {
  width: 100px;
}

.header_backdrop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 1000ms;
  z-index: 1000;
  margin-top: -20px;
}

.header_backdrop_background_modal {
  position: absolute;
  width: 160px;
  height: 105px;
  background-color: #fff;
  margin-top: 32px;
  left: 32%;
  border: 1px solid;
  border-top: none;
  border-radius: 0px 0px 20px 20px;
}

.header_is_hidden {
  opacity: 0;
  pointer-events: none;
}

.header_backdrop_list {
  list-style: none;
  align-items: center;
  margin-top: 0px;
}

.header_backdrop_item {
  align-items: center;
  margin-bottom: 20px;
}
.header_backdrop_item:last-child {
  margin-bottom: 0;
}

.display_none {
  display: none;
}

.header_backdrop_sort_button {
  border: none;
  background-color: #fff;
  font-size: 12px;
  font-family: 'Montserrat Alternates', sans-serif;
}

#conductor {
  background-color: #fff;
  border: none;
  margin-top: 10px;
}

.games_leap {
  font-family: 'Montserrat Alternates', solid;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 36px;
}

.vector_leap {
  width: 536px;
  height: 1px;
  background-color: #000;
  align-items: center;
  margin: auto;
}

.title_leap {
  text-align: center;
  font-family: 'Montserrat Alternates', solid;
  font-weight: 400;
  font-size: 16px;
  margin-top: 36px;
}

.leap_list {
  display: flex;
  justify-content: center;
  margin-right: 150px;
  margin-bottom: 36px;
  margin-top: 36px;
  margin-left: 257px;
}

.input_leap {
  outline: 0;
  border: 0;
  width: 210px;
  height: 35px;
  padding: 10px, 20px, 10px, 20px;
  background-color: #d7d7d7;
  padding-left: 14px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 20px 0px 0px 20px;
  font-family: 'Montserrat Alternates', solid;
  font-weight: 400;
}

.input-but_leap {
  font-family: 'Montserrat Alternates', solid;
  font-weight: 400;
  font-size: 16px;
  width: 35px;
  height: 35px;
  border-radius: 0px 20px 20px 0px;
  padding: 10px;
  gap: 10px;
  background-color: #000000;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
}

.yesNo_leap {
  font-family: 'Montserrat Alternates', solid;
  font-weight: 400;
  font-size: 16px;
  margin-left: 129px;
}

.container {
  max-width: 1090px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.guess_the_number_title {
  margin-top: 36px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 36px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.guess_the_number_input {
  width: 115px;
  height: 35px;
  position: relative;
  border: none;
  border-radius: 60px 0 0 60px;
  background-color: #d7d7d7;
  margin-left: 250px;
  padding-left: 10px;
  padding-bottom: 3px;
  font-size: 12px;
  font-family: 'Montserrat Alternates', sans-serif;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
}
.guess_the_number_input:hover {
  border: none;
}

.guess_the_number_button {
  position: absolute;
  width: 35px;
  height: 35px;
  border: none;
  background-color: black;
  border-radius: 0 60px 60px 0;
  font-family: 'Montserrat Alternates', sans-serif;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
}

.guess_the_number_text {
  margin-left: 602px;
  margin-top: -25px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.guess_the_number_svg {
  fill: #fff;
  width: 15px;
  height: 15px;
  margin-top: 2px;
}

.guess_the-number_button .guess_the_number_svg {
  position: relative;
}

.guess_the_number_line {
  background-color: #000000;
  height: 1px;
  width: 536px;
  margin: auto;
}

.container {
  max-width: 1090px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

#prs_section {
  font-family: 'Montserrat Alternates', solid;
  font-weight: 400;
}

.vector_prs {
  display: flex;
  justify-content: center;
}

.prs_title {
  font-family: 'Montserrat Alternates', solid;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-top: 36px;
}

.prs_select {
  align-items: center;
  width: 256px;
  height: 60px;
  border-radius: 20;
  margin: auto;
  margin-top: 36px;
}

.prs_button_list {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0px;
  list-style: none;
}

.prs_button_item:first_child {
  margin-left: 160px;
}

.prs_button {
  background-color: black;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  color: aliceblue;
}

.score_list {
  width: 93px;
  height: 60px;
  list-style: none;
}

.score_list:nth-child(2) {
  width: 200px;
}

.prs_winOrLose {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.prs_computer_button {
  margin: auto;
  margin-top: 36px;
  margin-bottom: 36px;
  background: none;
  color: green;
  font-family: 'Montserrat Alternates', solid;
  font-weight: 400;
  font-size: 16px;
}

.vector_calculator {
  background-color: #000000;
  height: 0.5px;
  width: 536px;
  margin: auto;
  margin-top: 36px;
}

.calculator_title {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat Alternates', solid;
  font-weight: 400;
  margin-top: 36px;
  margin-bottom: 49px;
}

.calculator_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 36px;
}

.input_calculator {
  outline: 0;
  border: 0;
  width: 150px;
  height: 35px;
  padding: 10px, 20px, 10px, 20px;
  background-color: #d7d7d7;
  padding-left: 14.63px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 20px;
  font-family: 'Montserrat Alternates', solid;
  font-weight: 400;
}

.button_plus {
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  padding: 5px, 10px, 5px, 10px;
  background-color: black;
  color: #d7d7d7;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
}

.button_minus {
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  padding: 5px, 10px, 5px, 10px;
  background-color: black;
  color: #d7d7d7;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
}

.button_multiply {
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  padding: 5px, 10px, 5px, 10px;
  background-color: black;
  color: #d7d7d7;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
}

.button_division {
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  padding: 5px, 10px, 5px, 10px;
  background-color: black;
  color: #d7d7d7;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
}

.button_equally {
  margin-left: 38px;
  margin-right: 38px;
  align-items: center;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  padding: 5px, 10px, 5px, 10px;
  background-color: black;
  color: #d7d7d7;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
}

.button_list {
  display: flex;
  list-style: none;
  max-width: 100px;
  height: 60px;
  flex-wrap: wrap;
  margin-right: 38px;
  gap: 10px;
}

.calc_result {
  outline: 0;
  border: 0;
  width: 150px;
  height: 35px;
  padding: 10px, 20px, 10px, 20px;
  background-color: #d7d7d7;
  padding-left: 14.63px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.container {
  max-width: 1090px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.vector_prs {
  background-color: #000000;
  height: 0.5px;
  width: 536px;
  margin: auto;
  margin-top: 36px;
}

.prs_button_item {
  list-style: none;
}

.score_item {
  list-style: none;
}

.prs_button {
  list-style: none;
  border-style: none;
  display: block;
}

.prs_computer_button {
  list-style: none;
  border-style: none;
  display: block;
}

.time_calculator-line {
  background-color: #000000;
  height: 0.5px;
  width: 536px;
  margin: auto;
  margin-top: 36px;
}

.time_calculator_title {
  font-family: 'Montserrat Alternates', solid;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-top: 36px;
}

.time_input_list {
  display: flex;
  align-items: center;
  padding: 0;
}

.time_calculator_list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 150px;
}

.input_time_calculator {
  outline: 0;
  border: 0;
  width: 150px;
  height: 35px;
  padding: 10px, 20px, 10px, 20px;
  background-color: #d7d7d7;
  padding-left: 14.63px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 20px 0px 0px 20px;
  font-family: 'Montserrat Alternates', solid;
  font-weight: 400;
}

.time_button_calculator {
  font-family: 'Montserrat Alternates', solid;
  font-weight: 400;
  font-size: 16px;
  width: 35px;
  height: 35px;
  border-radius: 0px 20px 20px 0px;
  padding: 10px;
  gap: 10px;
  background-color: #000000;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
}

.time_calc_stroke {
  width: 100px;
  height: 1px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  align-items: center;
  margin: 0;
  margin-top: 54px;
  margin-left: 32px;
  margin-bottom: 53px;
  margin-right: 33px;
}

.time_calc_time {
  font-family: 'Montserrat Alternates', solid;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin-top: 46px;
}

.dino_title {
  font-size: 16px;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}

.dino_game {
  margin-top: 36px;
}

.container {
  max-width: 1090px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

#canvass {
  border-bottom: 2px black solid;
  display: block;
  margin: auto;
}

.container #retryButton {
  position: relative;
}

#retryButton {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 16px;
  background-color: #d7d7d7;
  color: black;
  border-radius: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  cursor: pointer;
}

.dino_line {
  background-color: #000000;
  height: 1px;
  width: 536px;
  margin: auto;
}

.container {
  max-width: 1090px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

#field {
  position: relative;
  width: 720px;
  height: 220px;
  background-color: #5abb58;
  border-radius: 37px;
}

.border_field {
  border: 1px black solid;
  width: 722px;
  border-radius: 37px;
  margin: auto;
}

#ball {
  position: absolute;
  width: 50px;
  height: 50px;
}

.soccer_title {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: 36px;
}

.soccer_line {
  background-color: #000000;
  height: 0.5px;
  width: 536px;
  margin: auto;
  margin-top: 103px;
}

.container {
  max-width: 1090px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.line_prs {
  background-color: #000000;
  height: 0.5px;
  width: 536px;
  margin: auto;
  margin-top: 36px;
}

.highest_number_title {
  font-family: 'Montserrat Alternates', solid;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-top: 36px;
}

.input_num_list {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 38px;
}

.input_num_calculator {
  outline: 0;
  border: 0;
  width: 150px;
  height: 35px;
  padding: 10px, 20px, 10px, 20px;
  background-color: #d7d7d7;
  padding-left: 14.63px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 20px;
  font-family: 'Montserrat Alternates', solid;
  font-weight: 400;
  margin-top: 36px;
}

.highest_number_text {
  font-family: 'Montserrat Alternates', solid;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 36px;
  margin-top: 36px;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper_slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper_slide img {
  display: block;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1090px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.our_team_box {
  margin: auto;
}

.our_team_title {
  text-align: center;
  margin-top: 36px;
  font-size: 16px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.our_team_line {
  background-color: #000000;
  height: 1px;
  width: 536px;
  margin: auto;
  margin-top: 36px;
}

.worker_img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin: auto;
}

.worker_name {
  font-size: 14px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.worker_work {
  font-size: 12px;
  font-family: 'Montserrat Alternates', sans-serif;
  margin-bottom: 24px;
}

.swiper_button_next::after {
  color: black;
  --swiper-navigation-size: 90px;
}

.swiper_button_prev::after {
  color: black;
  --swiper-navigation-size: 90px;
}

.vector_scientist {
  width: 536px;
  height: 1px;
  background-color: #000;
  margin: auto;
  margin-bottom: 36px;
}

#info_section {
  padding: 36px 0;
  font-family: 'Montserrat Alternates', solid;
  font-weight: 400;
  font-size: 16px;
}

.info_title {
  font-weight: 400;
  font-size: 16px;
  color: #000;
  text-align: center;
}

.info_scientists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 577px;
  gap: 36px 59px;
  margin-top: 36px;
  margin: auto;
  margin-bottom: 36px;
  padding: 0;
}

.info_scientist {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: #d9d9d9;
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  font-size: 12px;
}

.info_prompts {
  margin-top: 36px;
  gap: 20px 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

.info_but {
  font-family: 'Montserrat Alternates', solid;
  font-weight: 400;
  font-size: 16px;
  border-radius: 20px;
  padding: 10px 20px;
  height: 35px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  background: #000;
  padding: 10px 20px;
  font-size: 12px;
  color: #ffffff;
  list-style: none;
  border: none;
}

.container {
  max-width: 1090px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.footer__logo {
  width: 165px;
  height: 70px;
  margin-top: 14px;
}

.footer__box {
  display: flex;
  list-style: none;
}

.container {
  max-width: 1090px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.header_components {
  display: flex;
  margin-top: 21px;
}

.header_component:nth-child(2) {
  margin-left: 81px;
}
.header_component:nth-child(3) {
  margin-left: 361px;
}

.header_logo {
  width: 93px;
  height: 38.15px;
}

.header_list {
  gap: 50px;
  list-style: none;
  display: flex;
  margin-top: 0;
}

.header_item {
  width: 97px;
}

.header_text {
  font-size: 12px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.header_switch {
  display: flex;
  gap: 51px;
}

.header_component_switch {
  width: 100px;
}

.header_component_User {
  width: 100px;
}

.header_backdrop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 1000ms;
  z-index: 1000;
  margin-top: -20px;
}

.header_backdrop_background_modal {
  position: absolute;
  width: 160px;
  height: 105px;
  background-color: #fff;
  margin-top: 32px;
  left: 32%;
  border: 1px solid;
  border-top: none;
  border-radius: 0px 0px 20px 20px;
}

.header_is_hidden {
  opacity: 0;
  pointer-events: none;
}

.header_backdrop_list {
  list-style: none;
  align-items: center;
  margin-top: 0px;
}

.header_backdrop_item {
  align-items: center;
  margin-bottom: 20px;
}
.header_backdrop_item:last-child {
  margin-bottom: 0;
}

.display_none {
  display: none;
}

.header_backdrop_sort_button {
  border: none;
  background-color: #fff;
  font-size: 12px;
  font-family: 'Montserrat Alternates', sans-serif;
}

#conductor {
  background-color: #fff;
  border: none;
  margin-top: 10px;
}

.footer__box-item:first-child {
  margin-right: 185px;
}
.footer__box-item:nth-child(2) {
  margin-right: 187px;
}

.footer__contacts {
  font-size: 12px;
  width: 207px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.footer__gmail-input {
  width: 204px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background-color: #d7d7d7;
  color: #7e7e7e;
  padding-left: 10px;
  font-style: 12px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.footer__subscribe {
  color: #fff;
  background: #000;
  width: 107px;
  height: 35px;
  border: none;
  font-size: 12px;
  border-radius: 20px;
  margin-left: 36px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.footer__description {
  color: #000;
  font-size: 6px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.footer__subscribe-box {
  display: flex;
  margin-top: 36px;
}

.footer-backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 1000ms;
  z-index: 1000;
}

.footer-backdrop__background-modal {
  position: absolute;
  width: 463px;
  height: 245px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.footer__is-hidden {
  opacity: 0;
  pointer-events: none;
}

.footer-backdrop__close {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 400px;
  margin-top: 30px;
}

.footer-backdrop__close-svg {
  width: 15px;
  height: 15px;
  fill: #000;
}

.footer-backdrop__close .footer-backdrop__close-svg {
  position: relative;
  transition: transform 1s;
}

.footer-backdrop__title {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

.footer-backdrop__background {
  background-image: url(../images/footer/footer-backdrop.png);
  width: 378px;
  height: 106px;
  margin-left: 43px;
  margin-bottom: 20px;
} /*# sourceMappingURL=index.css.map */
