<section id="time_calculator_section">
    <div class="container">
        <div class="time_calculator_line"></div>
    <h1 class="time_calculator_title">Калькулятор часу</h1>
    <div class="time_calculator_list">
        <ul class="time_input_list">
            <input class="input_time_calculator" type="text submit" placeholder="Введіть число" id="start_timer">
            <button type="submit" class="time-button_calculator">  </button>
        </ul>
            <img class="time_calc_stroke" src="./images/calculator-of-time/Vector-2.png" alt="vector">
            <p class="time_calc_time">час</p>
    </div>
    </div>
</section> 
