<section id="calculator_section">
    <div class="container">
        <div class="vector_calculator"></div>
            <h1 class="calculator_title">Калькулятор</h1> 
            <div class="calculator_container" id="calculator">
                <input class="input_calculator" type="text" id="first-input" placeholder="Введіть число">
                <ul class="button_list">
                    <li class="button_element">
                        <button class="button_plus" type="button" id="plus">+</button>
                    </li>
                    <li class="button_element">
                        <button class="button_minus" type="button" id="minus">-</button>
                    </li>
                    <li class="button_element">
                        <button class="button_multiply" type="button" id="multiply">*</button>
                    </li>
                    <li class="button_element">
                        <button class="button_division" type="button" id="division">/</button>
                    </li>
                </ul>    
            <input class="input_calculator" type="text" id="second_input" placeholder="Введіть число">
                <button class="button_equally" type="button" id="equals">
                   =
                </button>
                <p class="calc_result" id="result_p"></p>
            </div>
        </div>
    </div>
    
    </section>