<section id="leap_year_section">        
    <div class="container">
        <h1 class="games_leap">Популярні інетрактивні ігри</h1>
        <div class="vector_leap"></div>
        <h1 class="title_leap">Перевір в який рік ти народився</h1>
        <div class="leap_list">
            <input class="input_leap"  type="text" placeholder="Введіть рік народження" id="leap_input">
            <button class="input_but_leap" type="button"></button>
            <p class="yesNo_leap" id="yes_no_leap">

            </p>
        </div>
    </div>
</section>