<div class="first_page_backdrop">
    <form class="first_page_backdrop_background_modal">
        <button class="first_page_backdrop_close" type="button">
            <svg class="first_page_backdrop_close-svg">
                <use href="./images/first-page/first-page-symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
        <p class="first_page_backdrop_description">Привіт!<br>
            Ви потрапили на сайт інтерактивних ігор та завдань<br>
            Надіємось, що вам сподобається і ви отримаєте позитивні емоції!<br>
            Бажаємо Вам гарно провести час!</p>
        <p class="first_page_backdrop_write_your_name">Введіть своє ім’я:</p>
        <input type="text" placeholder="Ваше ім’я..." class="first_page_backdrop_input">
        <br>
        <button type="submit" class="first_page_backdrop_save">Зберегти</button>
        <svg class="first_page_backdrop_img first_page_backdrop_first_img">
            <use href="./images/first-page/first-page-symbol-defs.svg#icon-sword"></use>
        </svg>
        <svg class="first_page_backdrop_img first_page_backdrop_second_img">
            <use href="./images/first-page/first-page-symbol-defs.svg#icon-game-controller"></use>
        </svg>
        <svg class="first_page_backdrop_img first_page_backdrop_third_img">
            <use href="./images/first-page/first-page-symbol-defs.svg#icon-puzzle"></use>
        </svg>
        <svg class="first_page_backdrop_img first_page_backdrop_forth_img">
            <use href="./images/first-page/first-page-symbol-defs.svg#icon-tic-tac-toe"></use>
        </svg>
    </form>
</div>