<section class="footer">
    <div class="container">
        <ul class="footer_box">
            <li class="footer_box_item">
                <svg class="footer_logo">
                    <use href="./images/footer/footer-logo.svg#logo"></use>
                </svg>
            </li>
            <li class="footer_box_item">
                <p class="footer_contacts">Тел: +38 (123) 456 78 90<br>
                    E-Mail: codingmagic@gmail.com<br>
                    Facebook: CodingMagic<br>
                    Twitter: CodingMagic<br>
                    Instagram: CodingMagic</p>
            </li>
            <li class="footer_box_item">
                <div class="footer_subscribe_box">
                    <input type="text" placeholder="Ваша ел. адреса" class="footer_gmail_input">
                <button class="footer_subscribe_button" type="button" data-open-modal>Підписатись</button>
                </div>
                <p class="footer_text">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
            </li>
        </ul>
    </div>
</section>

<div class="footer_backdrop footer_is_hidden" data-backdrop>
    <form class="footer_backdrop_background_modal">
        <button class="footer_backdrop_close" type="button" data-close-modal>
            <svg class="footer_backdrop_close_svg">
                <use href="./images/footer/footer-logo.svg#icon-close"></use>
            </svg>
        </button>
        <div class="footer_backdrop_background">
            <h4 class="footer_backdrop_title">Дякую за підписку!</h4>
        </div>
    </form>
</div>