<section id="guess_the_number_section">
  <div class="container">
    <div class="guess_the_number_line"></div>
    <h1 class="guess_the_number_title">Вгадай число, яке загадав комп’ютер</h1>
    <input
      type="text"
      class="guess_the_number_input"
      placeholder="Введіть число"
    />
    <button type="button" class="guess_the_number_button">
      <svg class="guess_the_number_svg">
        <use
          href="./images/guess-the-number/guess-the-number-symbol-defs.svg#icon-dandruff"
        ></use>
      </svg>
    </button>
    <p class="guess_the_number_text"></p>
  </div>
</section>
