<header class="header">
  <div class="container">
    <div class="header_components">
      <div class="header_component">
        <svg class="header_logo">
          <!-- <use href="./images/header/header_logo.svg#logo"></use> -->
        </svg>
      </div>
      <div class="header_component">
        <ul class="header_list">
          <li class="header_item">
            <select id="conductor">
              <option value="interactive">Інтерактив</option>
              <option value="games">Ігровий</option>
              <option value="means">Ознайомчий</option>
            </select>
          </li>
          <li class="header_item">
            <p class="header_text">Наша команда</p>
          </li>
          <li class="header_item">
            <p class="header_text">Контакти</p>
          </li>
        </ul>
      </div>
      <div class="header_switch">
        <div class="header_component_switch">
          <div class="header_component_switch_item">
            <div class="header_switch_container">
              <div class="switch_light"></div>
            </div>
          </div>
        </div>
        <div class="header_component_User">
          <p class="header_User">Вітаємо, User!</p>
        </div>
      </div>
    </div>
  </div>
</header>
