<header class="header">
  <div class="container">
    <div class="header_components">
      <div class="header_component">
        <svg class="header_logo">
          <use href="./src/header/header-logo.svg#logo"></use>
        </svg>
      </div>
      <div class="header__component">
        <ul class="header__list">
          <li class="header__item">
            <select id="sort-select">
              <option value="interactive">Інтерактив</option>
              <option value="number">Числовий</option>
              <option value="games">Ігровий</option>
              <option value="means">Ознайомчий</option>
            </select>
          </li>
          <li class="header_item">
            <p class="header_text">Наша команда</p>
          </li>
          <li class="header_item">
            <p class="header_text">Контакти</p>
          </li>
        </ul>
      </div>
      <div class="header__component header__component-switch">
        <div class="header__component-switch-item">
          <div class="switch-container">
            <div class="switch">
              <div class="ball"></div>
            </div>
          </div>
        </div>
        <div class="header__component-switch-item">
          <p class="header__description">Вітаємо, User!</p>
        </div>
      </div>
    </div>
  </div>
</header>
