<section id="our_team">
  <div class="container">
    <div class="our_team_line"></div>
    <h3 class="our_team_title">Наша команда</h3>
    <div class="swiper mySwiper">
      <div class="swiper_wrapper">
        <div class="swiper_slide">
          <div class="our_team_box">
            <img class="worker_img" src=".images/our-team/ТАТІАНА.jpg" alt="" />
            <h5 class="worker_name">татіана</h5>
            <p class="worker_work">ScramMaster</p>
          </div>
        </div>
        <div class="swiper_slide">
          <div class="our_team_box">
            <img class="worker_img" src=".images/our-team/fox.jpg" alt="" />
            <h5 class="worker_name">гоша</h5>
            <p class="worker_work">TeamLead</p>
          </div>
        </div>
      </div>
      <div class="swiper_button_next"></div>
      <div class="swiper_button_prev"></div>
      <div class="swiper_pagination"></div>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
