<section id="prs_section">
    <div class="continer">
        <div class="vector_prs"></div>
            <h1 class="prs_title">Камінь - ножиці - папір</h1>
            <div class="prs_select">
                <ul class="prs_button_list">
                <li class="prs_button_item">
                    <button class="prs_button" type="button" id="rock_button">
                        камінь
                    </button>
                </li>
                <li class="prs_button_item">
                    <button class="prs_button" type="button" id="scissors_button">
                        ножиці
                    </button>
                </li>
                <li class="prs_button_item">
                    <button class="prs_button" type="button" id="paper_button">
                        папір
                    </button>
                </li>
                <li>
                    <ul class="score_list">
                        <li class="score_item" id="score">
                            Рахунок:
                        </li>
                        <li class="score_item" id="computer_score">
                            Комп'ютер - <p class="score_text" id="comp_score_text"></p>
                        </li>
                        <li class="score_item" id="user_score">
                            Ви - <p class="score_text"  id="user_score_text"></p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>  
        <p class="prs_winOrLose" id="winOrLose">    </p>
        <button type="button" class="prs_computer_button" id="computer_variant">
            Варіант комп'ютера
        </button>
    </div>
    </section>
