<section id="highest_number_section"></section>
    <div class="container">
        <div class="line_prs"></div>
    <h1 class="highest_number_title">Введіть три числа</h1>
    <ul class="input_num_list">
        <input class="input_num_calculator" type="text" placeholder="Введіть число" id="one_input">
        <input class="input_num_calculator" type="text" placeholder="Введіть число" id="two_input">
        <input class="input_num_calculator" type="text" placeholder="Введіть число" id="three_input">
    </ul>
    <p class="highest_number_text" id="time_result">Найбільше число, яке ви ввели -</p>
    </div>
    </section>

